<div style="float: left; width: 100%;">
	<b><?php echo $result->location->city; ?></b>
</div>
<div style="float: left; width: 100%;">
	<?php echo $weekDays[date('w', strtotime($result->item->condition->date))]['long_title']; ?>
</div>
<div style="float: left; width: 100%;">
	<?php echo $result->item->condition->text; ?>
</div>
<div style="float: left; margin-top: 15px;">
	<div style="float: left; margin-right: 10px;">
		<img src="http://l.yimg.com/a/i/us/we/52/<?php echo $result->item->condition->code; ?>.gif" />
	</div>
	<div style="float: left; vertical-align: top;">
		<span style="font-size: 40px; color: #000;"><?php echo $result->item->condition->temp; ?></span> <?php echo $result->units->temperature; ?>
	</div>
</div>
<div style="float: right;">
	Precipitation: 0%
</div>
<div style="clear: right;"></div>
<div style="float: right;">
	Humidity: <?php echo $result->atmosphere->humidity; ?>%
</div>
<div style="clear: right;"></div>
<div style="float: right;">
	Wind: <?php echo $result->wind->speed . ' ' . $result->units->speed; ?>
</div>
<div style="clear: both;"></div>
<div id="forecast">
<?php foreach($result->item->forecast as $key => $item) { 
		if($key < 8){
?>
	<div class="forecast-element <?php if($key == 0){ ?>active<?php } ?>">
		<div style="font-size: 12px; text-align: center;"><?php echo $weekDays[date('w', strtotime($item->date))]['short_title']; ?></div>
		<div style="margin-left: 5px;">
			<img src="http://l.yimg.com/a/i/us/we/52/<?php echo $item->code;?>.gif" />
		</div>
		<div style="text-align: center; font-size: 12px;">
			<span style="color: #5f5f5f;"><?php echo $item->high;?></span> <?php echo $item->low;?>
		</div>
	</div>
<?php
		}	
	} 
?>
</div>